<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
       
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-purple-700 rounded-full" viewBox="0 0 24 24">
            <path d="M9 2h10a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4l-4 4-4-4H5a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h4z"></path>
            <line x1="9" y1="7" x2="15" y2="7"></line>
            <line x1="9" y1="11" x2="15" y2="11"></line>
          </svg>
          
          
        <span class="ml-3 text-xl">Notelify</span>
      </a>
      <nav class="ml-5 md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <a class="mr-5  text-xl hover:text-gray-900" routerLink="" routerLinkActive ="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page">Home</a>
      </nav>
      
    </div>
  </header>